
#Data-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.Data-display {
    margin-bottom: 0.5rem;
    flex: 1;
}

.Data-chart-controls {
    margin-bottom: 10px;
}

