@import "~@blueprintjs/core/dist/blueprint.css";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";
@import "~c3/c3.css";
@import "~react-json-inspector/json-inspector.css";

body {
    margin: 0;
}

#App-main {
    padding: 8px;
    min-height: 100vh;

    display: flex;
    flex-flow: column;
}

#App-main.pt-dark {
    background-color: #293742;
}

#App-navbar {
    margin-bottom: 0.5rem;

    flex: 0 1 auto;
}

#App-content {
    flex: 1;
    position: relative;
}

.pt-select-popover .pt-popover-content {
    padding: 5px;
}

.pt-select-popover .pt-menu {
    max-height: 300px;
    overflow: auto;
}

.meter-form {
    margin-top: 1rem;
}
