@import "~@blueprintjs/core/dist/blueprint.css";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";
@import "~c3/c3.css";
@import "~react-json-inspector/json-inspector.css";

#navbar {
    margin-bottom: 0.5rem;
}

#configuration-viewer, .config-viewer-container {
    width: 100%;
    height: 100%;
}

.config-viewer-container {
    padding: 10px;
    background: gainsboro;
}

.sim-class-card-list {
    padding-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.sim-class-card {
    margin: 0.5rem;
    max-width: 500px;
}

.sim-view-container, .create-instance-container {
    padding-top: 0.5rem;
}

.pt-select-popover .pt-popover-content {
    padding: 5px;
}

.pt-select-popover .pt-menu {
    max-height: 300px;
    overflow: auto;
}

.meter-form {
    margin-top: 1rem;
}

.sim-index-container {
    display: flex;
    align-items: stretch;
}

.sim-index-tree {
}

.sim-info-card {
}

.sim-search {
    margin-bottom: 0.5rem;
}
