@import "~@blueprintjs/core/dist/blueprint.css";

h1 {
    color: red;
}

#configuration-viewer {
    width: 80vh;
    height: 80vh;
    position: relative;
}

.sim-class-card-list {
    padding-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.sim-class-card {
    margin: 0.5rem;
}

.sim-view-container, .create-instance-container {
    padding-top: 0.5rem;
}

